/* ion-label {
    margin-left: 115px;
}
 */
#labelB {
    margin-left: 115px;
}

#scanner {
    margin-left: 80px;
    margin-bottom: 45px;
}

 #Bvolver {
    padding-bottom: 10px;
     
} 



