<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-img src="assets/icon/logoduoc.png"></ion-img>
  </ion-toolbar>
  <ion-button size="small" id="Bvolver" color="warning" [routerLink]="['/asistencia']">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirmar asistencia</ion-card-title>
    </ion-card-header>
  

      <ion-item>
        <ion-label>Asignatura</ion-label>
      </ion-item>  
      <ion-card-content>
        <ion-checkbox color="primary" [indeterminate]="true">Confirma tu asistencia</ion-checkbox>    </ion-card-content>    
      <ion-item>
        <ion-label>
          <h1>Fecha</h1>
          <p><ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal></p>
        </ion-label>
      </ion-item>
  </ion-card>
</ion-content>

